<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>BlogSite</title>
</head>
<body>
    <nav class="nav">
        <h1>
            Heading
        </h1>
    </nav>
    <div class="blog-body">
        <h2>
            Blog 1
        </h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex consequatur corporis beatae expedita sint pariatur iste maiores inventore ea mollitia totam laborum eligendi quisquam autem, nulla ab, delectus cupiditate odit tempore magni, quasi cum nemo ipsam. Deserunt error itaque ea aliquid earum beatae consequuntur cum. Atque fugiat quas ullam consequatur?
        </p>
    </div>
</body>
</html>