<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
    <title>BlogSite</title>
</head>
<body>
    <nav class="nav">
        <h1>
            My Blog Site
        </h1>
    </nav>
    <div class="blog-body">
    {% for t in blog %}
        <h2 class="blog-title">
            {{ t.title }}
        </h2>
        <p class="blog-content">
            {{ t.content }}
        </p>
        <div class="blog-info">
            <p class="blog-date-posted">
                {{ t.date_posted }}
            </p>
            <p class="blog-author">
                {{ t.author }}
            </p>
        </div>
    {% endfor %}
    </div>
</body>
</html>