* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(221, 14, 14);
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}

.blog-body {
    padding-top: 5px;
    padding-left: 8px;
    font-size: 24px;
}

.blog-body p {
    width: 80%; /* Set the width of the element */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.blog-info p {
    color: rgb(71, 122, 122);
    font-size: 18px;
}

.blog-date-posted {
    background-color: aqua;
    width: 100px;
}